# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cndv\IdeaProjects\IFTM\5º Período\Sistemas Distribuídos - 5ºPerído - 202101\Atividade RMI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
